.FeedItem {
  margin: 8px;
  border: 0;
}

.FeedItem > .card-img {
  border-radius: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .FeedItem {
    margin: 14px;
  }
}
