.FeedItemMobile {
  cursor: pointer;
  line-height: 1.2;
}

.FeedItemMobile .card-body {
  padding-bottom: 0;
}

.FeedItemMobile .card-title {
  color: var(--color-black);
  font-size: calc(10px + 2vmin);
}

.FeedItemMobile .card-text > span {
  color: var(--color-black-2);
  font-size: calc(7px + 2vmin);
}

.FeedItemMobile .card-footer {
  border-top: 0;
  background-color: var(--color-white);
}

.FeedItemMobile .card-footer > time {
  color: var(--color-gray-dark);
  font-size: calc(5px + 2vmin);
  text-transform: uppercase;
}
