.FeedModal {
  max-width: 934px;
}

.FeedModal > .modal-content {
  border: 0;
  border-radius: 0;
}

.FeedModal .modal-body {
  padding: 0;
}

.FeedModal .modal-footer {
  justify-content: center;
  border-top: 0;
  border-radius: 0;
  background-color: var(--color-white);
  color: var(--color-primary);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .FeedModal {
    margin: 0.5rem 0;
  }
}
