.FeedModal {
  width: 100%;
  max-width: 975px;
  margin: 0;
  justify-content: center;
}

.FeedModal > .modal-content {
  border: 0;
  border-radius: 0;
}

.FeedModal .modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal-backdrop.show {
  opacity: 0.8;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .FeedModal {
    width: calc(100% - 8rem);
    margin: 1.75rem auto;
  }

  .FeedModal .modal-body {
    flex-direction: row;
  }

  .modal-backdrop.show {
    opacity: 0.5;
  }
}
