.FeedModal {
  max-width: 912px;
}

.FeedModal .modal-body {
  padding: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .FeedModal {
    margin: 0.5rem 0;
  }
}
