.FeedItem {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: 2rem;
  cursor: pointer;
  background-color: transparent;
}

.FeedItem:focus {
  outline-color: var(--primary);
}

.FeedItem > .card {
  border: 0;
}

.FeedItem .card-img {
  border-radius: 0;
}

.FeedItem .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.FeedItem .card-img-overlay:hover,
.FeedItem:focus .card-img-overlay {
  opacity: 1;
}

.FeedItem .card-img-overlay > .card-text {
  color: var(--white);
  font-size: 1em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .FeedItem {
    margin-top: 0;
  }

  .FeedItem .card-img-overlay > .card-text {
    font-size: 0.6em;
  }
}
