.FeedItem {
  margin: 0.8rem;
  border: 0;
}

.FeedItem > .card-img {
  cursor: pointer;
  border-radius: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .FeedItem {
    margin: 1.4rem;
  }
}
