a.LFCIcon {
  height: 2.4rem;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline-color: var(--primary);
}

.LFCIcon > svg {
  height: 2.4rem;
}

.LFCIcon > svg > path {
  fill: var(--primary);
}
