a.LFCIcon {
  height: 2.4rem;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline-color: var(--color-secondary);
}

.LFCIcon > svg {
  height: 2.4rem;
}

.LFCIcon > svg > path {
  fill: var(--color-primary);
}
