.MenuIcon {
  height: 2.4rem;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.MenuIcon:focus {
  outline-color: var(--color-secondary);
}

.MenuIcon > svg > path {
  fill: var(--color-primary);
}
