.MenuIcon {
  padding: 0;
  border: 0;
  margin: 0;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color: var(--black);
}

.MenuIcon:focus {
  outline-color: var(--secondary);
}

.MenuIcon > svg {
  font-size: 34px;
}
