.SocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 100px;
  width: 100%;
  height: auto;
  background-color: var(--color-white);
}

.SocialIcons > svg {
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .SocialIcons {
    max-width: 112px;
  }
}
