.VideoInfo {
  width: 100%;
  padding: 3.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  line-height: 1.2;
  text-align: center;
}

.VideoInfo > h1,
.VideoInfo > span {
  padding-bottom: 1.5rem;
}

.VideoInfo > h1 {
  margin: 0;
  color: var(--darkslategray);
  font-size: calc(10px + 2vmin);
}

.VideoInfo > .progress {
  width: 66%;
  margin-bottom: 1.75rem;
  background-color: var(--primary);
}

.VideoInfo .progress-bar {
  background-color: var(--secondary);
}

.VideoInfo > span {
  color: var(--darkslategray);
  font-size: calc(7px + 2vmin);
}

.VideoInfo > time {
  color: var(--dimgray);
  font-size: calc(5px + 2vmin);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .VideoInfo {
    width: 50%;
    max-width: 306.33px;
    padding: 1.25rem;
    border: 0;
  }

  .VideoInfo > h1 {
    font-size: calc(2px + 2vmin);
  }

  .VideoInfo > span {
    font-size: 2vmin;
  }

  .VideoInfo > time {
    font-size: calc(-2px + 2vmin);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .VideoInfo > span {
    font-size: calc(-1px + 2vmin);
  }

  .VideoInfo > time {
    font-size: calc(-3px + 2vmin);
  }
}

/* Small landscape devices */
@media (min-width: 576px) and (max-height: 600px) and (orientation: landscape) {
  .VideoInfo > h1 {
    font-size: calc(8px + 2vmin);
  }

  .VideoInfo > span {
    font-size: calc(5px + 2vmin);
  }

  .VideoInfo > time {
    font-size: calc(3px + 2vmin);
  }
}
