/* CSS reset --> bring in normalize.css styles */
@import-normalize;

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --color-primary: #e31b23; /* crimson */
  --color-white: #fff;
  --color-black: #000;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@font-face {
  font-family: 'Albertus MT';
  src: url('./fonts/AlbertusMTPro.eot');
  src: url('./fonts/AlbertusMTPro.eot?#iefix') format('embedded-opentype'),
    url('./fonts/AlbertusMTPro.woff2') format('woff2'),
    url('./fonts/AlbertusMTPro.woff') format('woff'),
    url('./fonts/AlbertusMTPro.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Albertus MT', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
