/* CSS reset --> bring in normalize.css styles */
@import-normalize;

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --primary: #d10122; /* crimson */
  --secondary: #00a599; /* darkcyan */
  --tertiary: #fef667; /* khaki */
  --white: #fff;
  --snow: #fafafa;
  --black: #000;
  --black-2: #222222;
  --darkgray: #999;
  --darkslategray: #262626;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

@font-face {
  font-family: 'Albertus MT';
  src: url('./fonts/AlbertusMTPro.eot');
  src: url('./fonts/AlbertusMTPro.eot?#iefix') format('embedded-opentype'),
    url('./fonts/AlbertusMTPro.woff2') format('woff2'),
    url('./fonts/AlbertusMTPro.woff') format('woff'),
    url('./fonts/AlbertusMTPro.ttf') format('truetype');
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Albertus MT', serif; /* TODO: add backup fonts */
  font-weight: 400;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}
